<div layout="row">
    <div flex></div>
    <div class="chat-detail" flex-order="8">
        <div><b>{{message.from.name || message.from.id}}:</b> {{message.body}}</div>
        <div class="chat-sent-time">
            {{message.sent | date: 'h:mm a d MMM'}}
            <span ng-repeat="user in message.seen track by $index">
            <span class="material-icons" ng-if="user">done</span>
            </span>
        </div>
    </div>

    <img flex-order="9" src="{{message.from.avatarUrl}}" class="chat-avatar" alt="{{message.from.name || message.from.id}}"/>
</div>