md-tab {
  .md-accent {
    background-color: rgb(68,138,255);
  }
}

md-tab-item {
  a {
    &.close-link {
      font-size: 1em;
    }
  }

  span {
    &.new-message {
      font-size: 0.7em;
      border-radius: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      width: 1em;
      padding: 5px;
    }
  }
}